h1 {
  color: #322824;
  padding: 35px;
  text-align: center;
  font-size: x-large;
  font-family: Garamond;
  background-color: #F9E4C6;
  border: 10px ridge;
}

h2 {
  text-align: center;
  font-size: large;
  font-family: Georgia;
}

body {
  max-width: 60%;
  margin: 0 auto;
  color: #322824;
  background-color: #F9E4C6;
  text-align: center;
  font-size: medium;
  font-family: Georgia;
}
